/__pycache__
/data/dataset_4mic_3spk
/data/dataset_4mic_3spk_dominant
/Models/DSE/models/utils/__pycache__
/Models/SSL/__pycache__
/Models/SSL/arch/base/__pycache__
/Models/SSL/inference_results_70
/venv_wsl
/Models/DSE/models/__pycache__
/Models/DSE/models/arch/__pycache__
/Models/DSE/models/arch/base/__pycache__
/Models/DSE/models/io/__pycache__
/Models/SSL/lightning_logs
/Models/SSL/utils/__pycache__
/data/dataset_4mic_3spk_4s
/.codex_pycache
/data/__pycache__
/data/dataset_4mic_3spk_4s_full
/Models/SimulStreaming/simulstreaming/whisper/whisper_streaming/__pycache__
/Models/SimulStreaming/simulstreaming/whisper/simul_whisper/whisper/__pycache__
/Models/SimulStreaming/simulstreaming/whisper/simul_whisper/__pycache__
/Models/SimulStreaming/simulstreaming/whisper/__pycache__
/Models/SimulStreaming/simulstreaming/utils/__pycache__
Models/SimulStreaming/small.pt
/outputs
/Models/SSL/IPDNET2/__pycache__
/Models/SSL/IPDNET2/arch/base/__pycache__
/Models/SSL/IPDNET2/inference_results_70
/Models/SSL/IPDNET2/utils/__pycache__
/Models/SSL/IPDNET2/lightning_logs
/Models/SSL/IPDNET/__pycache__
/Models/SSL/IPDNET/DOA_eval/__pycache__
/Models/SSL/IPDNET/utils/__pycache__
/respeaker/IPDNET/recordings
/venv_linux
/Models/DSE/__pycache__
/Models/SimulStreaming/__pycache__
/respeaker/IPDNET/results/eval
/respeaker/IPDNET/results/pipeline_streaming_4schunks_full_respeaker_linux/pipeline_realtime_enhanced
/respeaker/IPDNET/results/pipeline_streaming_4schunks_full_respeaker_linux/pipeline_realtime_raw_chunks

/online/IPDNET/eval/Respeaker_real
/online/IPDNET/eval/Respeaker_recordings
/online/IPDNET/eval/results/pipeline_streaming_4schunks_full_respeaker/concatenated_enhanced
/online/IPDNET/eval/results/pipeline_streaming_4schunks_full_respeaker/pipeline_realtime_enhanced
/online/IPDNET/eval/results/pipeline_streaming_4schunks_full_respeaker_minor_spk_gt/concatenated_enhanced
/online/IPDNET/eval/results/pipeline_streaming_4schunks_full_respeaker_minor_spk_gt/pipeline_realtime_enhanced
/online/IPDNET/eval/results/pipeline_streaming_4schunks_full_respeaker_post_processed/concatenated_enhanced
/online/IPDNET/eval/results/pipeline_streaming_4schunks_full_respeaker_post_processed/pipeline_realtime_enhanced
/online/IPDNET/eval/results/pipeline_streaming_4schunks_full_respeaker_post_processed/pipeline_realtime_enhanced_all
/online/IPDNET/eval/results/pipeline_streaming_4schunks_full_respeaker_post_processed_minor_spk/concatenated_enhanced
/online/IPDNET/eval/results/pipeline_streaming_4schunks_full_respeaker_post_processed_minor_spk/pipeline_realtime_enhanced
/online/IPDNET/eval/results/raw_respeaker/concatenated_enhanced
/offline/IPDNET2
/online/IPDNET2
respeaker/IPDNET/realtime_testing.mp4
/ablation_study/baseline/__pycache__
/ablation_study/baseline/results/Conv-TasNet_libri/pipeline_convtasnet_enhanced
/ablation_study/baseline/results/SegFormer/pipeline_sepformer_enhanced
/ablation_study/baseline/results/MVDR/pipeline_mvdr_enhanced
/ablation_study/baseline/results/SegFormer_libri/pipeline_sepformer_enhanced
/venv_22.04
/ablation_study/baseline/results/delay_and_sum/pipeline_delay_sum_enhanced
/ablation_study/baseline/results/HARK/pipeline_hark_enhanced
/pretrained_models
/ablation_study/baseline/results/HARK_n_loc+sep/official_hark_logs
/ablation_study/baseline/results/HARK_n_loc+sep/official_hark_outputs
/ablation_study/baseline/results/HARK_n_sep+pf_GT/official_hark_logs
/ablation_study/baseline/results/HARK_n_sep+pf_GT/official_hark_outputs
/ablation_study/baseline/results/HARK_n_sep_GT/official_hark_logs
/ablation_study/baseline/results/HARK_n_sep_GT/official_hark_outputs
/ablation_study/baseline/results/HARK_n_sep_IPD/official_hark_logs
/ablation_study/baseline/results/HARK_n_sep_IPD/official_hark_outputs
/ablation_study/baseline/results/HARK_n_loc+sep+pf/official_hark_logs
/ablation_study/baseline/results/HARK_n_loc+sep+pf/official_hark_outputs
/ablation_study/baseline/results/HARK_n_sep+pf_IPD/official_hark_logs
/ablation_study/baseline/results/HARK_n_sep+pf_IPD/official_hark_outputs
/data/dataset_doa_sep_3spk
/offline/IPDNET/results/pipeline_full/pipeline_enhanced
/results/respeaker_streaming_full_spk/hark_input_full_scenes
/results/respeaker_streaming_full_spk/official_hark_logs
/results/respeaker_streaming_full_spk/official_hark_outputs
